__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
*.so
.venv/
venv/
env/
.env
*.bak
.pytest_cache/
.mypy_cache/
.pz_mod_manager.json

# Nuitka build artifacts
*.build/
*.dist/
*.onefile-build/
BUILD.md
